.PurchasesNew {
    --PurchasesNew-spacing: 7.5px;

    width: 80vw;
    max-width: 1000px;
    min-height: 80vh;

    padding: var(--PurchasesNew-spacing);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--PurchasesNew-spacing);

    background-color: var(--primary-color-l-higher);
    border-radius: var(--brand-border-radius);
}

.PurchasesNew__form {
    flex: 1 0 65%;

    display: flex;
    flex-direction: column;
    gap: var(--PurchasesNew-spacing);
}

.PurchasesNew__section {
    padding: var(--PurchasesNew-spacing);
    background-color: var(--primary-color-l-high);
    border-radius: calc(var(--brand-border-radius) - var(--PurchasesNew-spacing));
}

.PurchasesNew-form__providers {
    display: grid;
    place-items: center;
}

.PurchasesNew-form__products {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow-x: auto;
}

.PurchasesNew-form__filter-n-price {
    flex: 1 0 25%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--PurchasesNew-spacing);
}

.PurchasesNew__Filter {
    flex: 1 0 65%;
}

.PurchasesNew__CalculatedPrice {
    margin-left: auto;
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
}

.PurchasesNew__CalculatedPrice > .PurchasesNew__add-button {
    margin-top: auto;
    background-color: var(--success-color);
}

.PurchasesNew__cart {
    flex: 1 0 30%;
    display: grid;
    place-items: center;
}

