
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@200&family=Roboto:wght@300&family=Rubik:wght@300&display=swap');

.bnt-Modal{
    color: #ffff;
    background-color: #82CD47;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    border-style: hidden;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s;
}
.bnt-Modal:hover{
    background-color: #93e951;
    }
.containerModal, .overlay{
    position: fixed;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay{
    background-color: rgba(49, 49, 49, 0.8);
    
    
}
.modalContent{
    background-color: #fff;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    margin-left: 29%;
    margin-top: 10%;

}
.btn-Aceptar{
    color: #ffff;
    background-color: #82CD47;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    border-style: hidden;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s;
}
.btn-Aceptar:hover{
background-color: #93e951;
}
.containerInputModal{
    margin: 20px;
    padding-top: 10px;
}
.InputsModal{
    height: 40px;
    width: 200px;
    margin: 5px;
    
    background-color: #eeeeee;
    color: #2b2b2b;
    border-radius: 3px;
    border-style: solid;
    border-color: #c0c0c0;
    font-family:'Rubik', sans-serif;
    font-size: 15px;
    
}

