.Title {
    text-align: center;
    position: fixed;
    top: 60px;
}

.Search-box {
    position: fixed;
    top: 140px;
    left: 25px;
}

.Search-box input {
    width: 200px;
    padding: 5px;
    border-radius: 8px;
}

@media screen and  (max-width: 168px){
    .Search-box {
        position: static;
    }
};

.Table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}


.Item-span {
    font-size: 20px;
    color: var(--secondary-color-l-base);
    outline: var(--secondary-color-l-base) 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    outline-offset: -1px;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}