.Login {
    --Login-accent-color: var(--brand-color-l-lower);

    width: 30vw;
    min-width: 300px;
    aspect-ratio: 1;

    background-color: transparent;
    font-size: 1em;
}

.Login > form {
    --Login-form-spacing: 5px;

    height: 100%;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: calc(var(--Login-form-spacing) * 2);
    padding: calc(var(--Login-form-spacing) * 2);

    color: var(--primary-color-l-high);
    font-size: 1em;

    background-color: var(--secondary-color-l-low);
    box-shadow: var(--Login-form-spacing) var(--Login-form-spacing) 0 var(--secondary-color-l-lowest);

    border: 2px solid currentColor;
    border-radius: var(--brand-border-radius);
}

.Login > form > strong {
    margin: auto;

    font-size: 1.4em;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: 700;

    color: var(--primary-color-l-high);
}

.Login > form > label {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: inherit;
    font-size: 1em;

    border: 2px solid currentColor;
    border-radius: calc(var(--brand-border-radius) - var(--Login-form-spacing));

    overflow: hidden;
}

.Login > form > label > input {
    width: 100%;
    background-color: transparent;
    color: inherit;

    font-size: 1.25em;
    padding: .25em;

    border: 0;
    border-left: 10px solid transparent;
    border-radius: 0;
    outline: 0;

    transition: border-color .25s;
}

.Login > form > label > input:focus {
    border-color: var(--primary-color-l-high);
}

.Login > form > label > input:not(:placeholder-shown) {
    border-color: var(--Login-accent-color);
}

.Login > form > label:nth-child(2) > input {
    max-width: 85%;
}

.Login > form > label:nth-child(1) > input {
    max-width: 100%;
}

.Login > form > label > button {
    position: absolute;
    right: 0;

    height: 100%;
    aspect-ratio: 1;

    display: grid;
    place-items: center;

    background-color: transparent;

    border: 0;
    border-radius: 50%;
    outline: 0;

    cursor: pointer;
}

.Login > form > label > button > * {
    height: 60%;
    aspect-ratio: 1;
    fill: var(--Login-accent-color);
}

.Login > form > button {
    margin-top: auto;
    margin-bottom: var(--Login-form-spacing);
    margin-left: auto;
    margin-right: var(--Login-form-spacing);

    font-size: .85em;
    font-weight: 600;
    padding: .35em 1em;

    color: var(--secondary-color-l-low);
    background-color: var(--primary-color-l-high);
    box-shadow: calc(var(--Login-form-spacing) / 2) calc(var(--Login-form-spacing) / 2) 0 var(--primary-color-l-highest);

    border: 2px solid currentColor;
    border-radius: calc(var(--brand-border-radius) - var(--Login-form-spacing));

    cursor: pointer;
}

.Login > form > button:focus {
    outline: 2px solid var(--Login-accent-color);
}

.Login > form > label > input:placeholder-shown {
    color: var(--primary-color-l-highest);
}

.Login > form > label > input:first-child {
    margin-top: auto;
}

.Login > form > label > button:focus {
    outline: 2px solid var(--Login-accent-color);
    outline-offset: -5px;
}

.Login > form > label:first-child {
    margin-top: auto;
}
