
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.Titulo{
    text-align: center;
    margin: 10px;
}
.main-container{
    background-color: #ffffff;
    padding: 10px;
    height: 500px;
    width: 800px;
    border-radius: 1rem;
}
.containerDer{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: #cfcfcf;
    border-radius: 10px;
    width: 600px;
    
}
.Inputs{
    margin: 5px;
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border-style: hidden;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    padding: 5px;
}
.ContainerIzq{
    
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-color: #cfcfcf;
    
    
}
.FormContainer{
    background-color: rgb(226, 226, 226);
    height: 70%;
    border-radius: 1rem;
    box-shadow: 0 5px 10px -5px rgb(0 0 0  / 30%);
    display: flex;
    
}
.FormBoton{
    background-color: rgb(127, 158, 81);
    color:rgb(226, 226, 226);
    border-style: hidden;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 10px;
    transition: transform 0.3s ease, background-color 0.3s;
    
}
.FormBoton:hover{
    background-color: rgb(153, 204, 77);
}
.containerVender{
    width: 200px;
    border-style: solid;
    border-color: #cfcfcf;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}