.Admin {
    position: relative;
    flex: 1 1 auto;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1em;

    border-radius: var(--brand-border-radius);
    background-color: var(--primary-color-l-base);
}
