.Admin {
    position: relative;
    flex: 1 1 auto;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1em;

    border-radius: var(--brand-border-radius);
    background-color: var(--primary-color-l-base);

    padding: 12.5vh 0 2.5vh 0;
}

.Admin > .Admin__previous-page-bt {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: calc(var(--brand-border-radius) - 5px);
    
    background-color: var(--secondary-color-l-base);
    color: var(--primary-color-l-base);
}


.Admin > .Admin__previous-page-bt:hover {
    background-color: var(--secondary-color-l-low);
}
