
.Item {
    display: flex;
    
}
.Item_span {
    color: var(--secondary-color-l-lower);
    outline: var(--secondary-color-l-lowest) 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    outline-offset: -1px;
    flex: 0 0 40%;
    display: grid;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.Item_span-middle {
    flex: 0 0 20%;
}

.Item.--selected > .Item_span {
    background-color:var(--brand-color-l-base);
    
}