.Item {
    flex: 0 0 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    cursor: pointer;
}

.Item__span {
    flex: 1 0 33%;

    font-size: .85em;
    padding: .15em 0;

    color: var(--secondary-color-l-low);
    border: 1px solid var(--secondary-color-l-low);
    
    box-sizing: content-box;

    text-align: center;
    display: grid;
    place-items: center;
}

.Item__span.Item-span__price {
    flex: 0 0 22%;
    max-width: 8ch;
}

.Item.--selected > .Item__span {
    background-color: var(--brand-color-l-lowest);
    color: white;
}
