.Titulo{
    text-align: center;
    margin: 10px;
}
.main-container{
    background-color: var(--primary-color-l-base);
    height: 600px;
    width: 1000px;
    border-radius: 1rem;
}
.containerDer{
    margin: 10px;
    padding: 10px;
    
    
    border-radius: 10px;
    width: 600px;
    
}
.Inputs{
    margin: 5px;
    color: #4b4b4b;
    background-color: #eeeeeec0;
    height: 35px;
    width: 95%;
    border-radius: 5px;
    border-style: hidden;
    font-size: 20px;
    padding: 5px;
}
.ContainerIzq{
    
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    border-color: #cfcfcf;
    
    
}
.FormContainer{
    background-color: rgb(226, 226, 226);
    height: 70%;
    border-radius: 1rem;
    box-shadow: 0 5px 10px -5px rgb(0 0 0  / 30%);
    display: flex;
    
}
.FormBoton{
    background-color: rgb(127, 158, 81);
    color:rgb(226, 226, 226);
    border-style: hidden;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    font-size: 20px;
    margin: 10px;
    transition: transform 0.3s ease, background-color 0.3s;
    
}
.FormBoton:hover{
    background-color: rgb(153, 204, 77);
}
.containerVender{
    width: 200px;
    border-style: solid;
    border-color: #cfcfcf;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ProviderContainer{
    margin: 10px;
    overflow-x: hidden;
}
.ButtonBill{
    color: var(--primary-color-l-high);
    background-color: var(--secondary-color-l-low);
    border-style: hidden;
    cursor: pointer;
    font-size: bold;
    margin: 10px;
    border-radius: 5px;
    height: 20px;
    width: 50px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s;
}
.ButtonBill:hover{
    background-color: var(--secondary-color-l-lowest);
}
.tituloVenta{
    padding-left: 90px;
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-color-l-base);
}
.conteinerLabel{
    background-color: rgb(255, 255, 255);
    width: 230px;
    height: 100px;
}
.containerInputModal{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    height: 82%;
    
   
}
.TextLabel{
    margin-left: 10px;
}
.line{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    background-color: #4b4b4b4d;
    border-radius: 1px;
}