@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}





.Titulo{
    text-align: center;
    margin: 10px;
}
.main-container{
    background-color: var(--primary-color-l-base);
    width: 80vw;
    max-width: 1000px;
    min-height: 80vh;
    border-radius: 1rem;
}
.containerDer{
    margin: 10px;
    padding: 10px;
    
    
    border-radius: 10px;
    width: 600px;
    
}
.Inputs{
    margin: 5px;
    color: #4b4b4b;
    background-color: #eeeeeec0;
    height: 35px;
    width: 95%;
    border-radius: 5px;
    border-style: hidden;
    font-size: 20px;
    padding: 5px;
}

.FormContainer{
    background-color: rgb(226, 226, 226);
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 5px 10px -5px rgb(0 0 0  / 30%);
    display: flex;
    
}
.FormBoton{
    background-color: rgb(127, 158, 81);
    color:rgb(226, 226, 226);
    border-style: hidden;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    font-size: 20px;
    margin: 10px;
    transition: transform 0.3s ease, background-color 0.3s;
    
}
.FormBoton:hover{
    background-color: rgb(153, 204, 77);
}
.containerVender{
    width: 200px;
    border-style: solid;
    border-color: #cfcfcf;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ProviderContainer{
    margin: 10px;
    overflow-x: hidden;
}
.ButtonBill{
    color: var(--primary-color-l-high);
    background-color: var(--secondary-color-l-low);
    border-style: hidden;
    cursor: pointer;
    font-size: bold;
    margin: 10px;
    border-radius: 5px;
    height: 20px;
    width: 50px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s;
}
.ButtonBill:hover{
    background-color: var(--secondary-color-l-lowest);
}
.tituloVenta{
    padding-left: 90px;
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-color-l-base);
}
.conteinerLabel{
    background-color: rgb(255, 255, 255);
    width: 230px;
    height: 100px;
}
.containerInputModal{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    height: 82%;
    
   
}
.TextLabel{
    margin-left: 10px;
}
.line{
    margin-top: 2px;
    margin-bottom: 20px;
    height: 2px;
    background-color: #4b4b4b4d;
    border-radius: 1px;
}
.container__Detalle{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}
.Container__Detalle_Ropa{
    width: 60%;
    height: 40%;
}
.Container__Importe{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 35px;
}
.labells__inputs{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    margin: 5px;
}
.labells__inputs__input{
    width: 100px;
    border-radius: 2px;
    border-style: hidden;
    background-color: #f0f0f0;
}
.labells__inputs__label{
    margin-right: 5px;
    margin-top: 5px;
    font-size: 12px;
}
.containerBill{
    width: 50px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}
.btn__vender{
    color: #ffff;
    background-color: #8bdf5b;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    border-style: hidden;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s;
    margin-left: 35%;
    margin-top: 20px;
}
.btn__vender:hover{
    background-color: #5fd33c;
}

/*Style DropDown*/
*{
    font-family:"Product Sans";
    
}
.dropdown{
    width: 200px;
}
.dropdown__btn{
    background-color: #ececec;
    width: auto;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown__btn:hover{
    background-color: #e6e6e6;
}
.dropdown__content{
background-color: #f0f0f0;
border-radius: 5px;
}
.dropdown__item{
    padding: 5px;
    cursor: pointer;
}
.dropdown__item:hover{
    background-color: #e7e7e7;
}